<div class="border border-dark mt-4 p-0">
  <h1 class="bg-primary bg-gradient p-2 fw-bolder text-center mb-0" style="color: white;">
    Task manager
  </h1>
</div>
  -<div class="row m-5 p-2 mt-3 mb-3">
    <div class="col-4">
      <div class="row">
        <div class="col-7">
          <h2>Task-List</h2>
        </div>
        <div class="col-5">
          <button type="button" class="btn btn-outline-secondary">
            Add Task-List
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul class="list-group">
            <li *ngFor="let item of taskLists" class="list-group-item d-flex justify-content-between align-items-center">
              {{item.title}}
              <span class="badge bg-danger rounded-pill">X</span>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-10">
          <h2>Task</h2>
        </div>
        <div class="col-2 pull-right">
          <button type="button" class="btn btn-outline-secondary">
            New Task
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul class="list-group">
            <li *ngFor="let item of tasks" class="list-group-item d-flex justify-content-between align-items-center">
              {{item.title}}
              <span class="badge bg-danger rounded-pill">X</span>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
