
<div class="container mt-5 lead ">
    <div class="row ">
        <div class="col-8 ">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <h1 style="font-weight:500 !important">Add New Task</h1>
                
            </nav>
            <form class="mt-5">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Enter Task Title</label>
                  <input type="text" #taskInput class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <button type="button" class="btn btn-secondary mt-2" routerLink="../">Cancle</button>
                <button type="button" class="btn btn-primary ml-3 mt-2" (click)="addNewTask(taskInput.value)">Submit</button>

              </form>
        </div>
    </div>
</div>
